/*!
 * Main stylesheet file for project-specific elements.
 *
 * Biomedical Research Center - Clinical Research and Informatics Unit
 * University College London Hospital
 * 2020
 */

 /* UCLH colours */
uclh-primary{background-color:#007b85 !important}.uclh-primary-text{color:#007b85 !important}.uclh-secondary{background-color:#acdcd4 !important}.btn.uclh-secondary{color:rgba(0,83,94,0.9) !important}.btn.uclh-secondary:focus,.btn.uclh-secondary:hover{background-color:#8bd4c7 !important}.uclh-muted-dark-jade{background-color:#00535e !important}.uclh-muted-dark-jade-text{color:#00535e !important}.uclh-muted-light-green{background-color:#a9c398 !important}.uclh-muted-dark-green{background-color:#629080 !important}.uclh-warm-red{background-color:#ee3124 !important}.uclh-warm-red-text{color:#ee3124 !important}.btn.uclh-warm-red{color:white;background-color:rgba(238,49,36,0.9) !important}.btn.uclh-warm-red:focus,.btn.uclh-warm-red:hover{background-color:#ee3124 !important}.btn-flat.secondary.uclh-warm-red{color:#ee3124 !important;background-color:transparent !important}.btn-flat.secondary.uclh-warm-red:focus,.btn-flat.secondary.uclh-warm-red:hover{background-color:rgba(238,49,36,0.2) !important}.uclh-warm-orange{background-color:#f8971d !important}.uclh-warm-yellow{background-color:#fff200 !important}.uclh-cool-light-blue{background-color:#00afdb !important}.uclh-cool-blue{background-color:#0093d0 !important}.uclh-cool-dark-blue{background-color:#00539b !important}.uclh-cool-green{background-color:#00a94f !important}

@keyframes infinite-rotation {  
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.rotation {
    animation: infinite-rotation 2s linear infinite;
    width: auto !important;
}
.rotation.paused {
    animation-play-state: paused;
    animation-fill-mode: both;
}